<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">


	<bean id="kamera" class="com.vladancupric.Kamera"></bean>
	<bean id="logger" class="com.vladancupric.Logger"></bean>
	<aop:config>
		<aop:pointcut
			expression="execution(void com.vladancupric.Kamera.fotografisi())"
			id="kameraSkljoc" />
			<aop:pointcut
			expression="execution(void com.vladancupric.Kamera.posaljiFotografiju())"
			id="kameraSlanje" />
			<aop:aspect id="loggerAspect" ref="logger">
			
			
			<aop:after method="fotografijaJePoslata"
				pointcut-ref="kameraSlanje" />
			<aop:around method="aroundAdvice"
				pointcut-ref="kameraSkljoc" />
			</aop:aspect>

	</aop:config>
</beans>
